doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		form(method="post", class="logout" action= "/sessions?_method=DELETE")
			input(type="submit", value="Deconnexion")

	block content
