extends ../layout

block content

  p Vous pouvez ajouter un to do :

  form(action='/todos/add' method='post')
    table(border=1)
      tr
        th Topic
        td
          input(name='topic')

    input(type='submit', value='Envoyer')

